*{
  margin: 0;
  padding: 0;
}

body{
  background: #212121;
}

.main-container{
  background: #212121;
}

.topmenu{
  align-items: center;
  text-align: center;
  height: 150px;
  margin-top:47px;
  
  background: linear-gradient(129.66deg, #1C1C1C -6.79%, #313131 159.2%);
  box-shadow: -2px 10px 20px rgba(0, 0, 0, 0.25);
    
}

.topmenu{
  height: 100%;
  background: #2b2b2b;
  margin-top: 0px;
}

.col {
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  
  letter-spacing: 0.025em;
  
  color: #FFFFFF;
}

.head-text{
  font-family: 'Pobeda';
  color: #FFFFFF;
  text-decoration: none;
}
.head-text:hover{
  color: #FFFFFF;
}
.head2-text{
    
  color: #000000;
  text-decoration: none;
}

.pad{
  padding-top: 15px ;
}

/*Открывающиеся списки меню*/
nav {
  text-align: center;
  padding: 20px 0 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  display: block;
  color: #222;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  font-family: 'Pobeda';
  font-size: 30px;
  padding: 20px;
  letter-spacing: 0.025em;
}
.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: .3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: .3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-family: 'Libre Baskerville', serif;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: .3s linear;
}
.submenu a:hover {background: #e8e8e8;}


/* начало работы с фильтрами*/


/* конец работы с фильтрами*/

h2{
  font-family: Molot;
  color: #fff;
}

.str-main{
  padding-top: 5%;
}

.checkbox-label{
  letter-spacing: 0.1em;
}

.conteiner-filters{
  background:#C4C4C4;;
  width: 100%;
  font-family: Pobeda;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 205.19%;
  letter-spacing: 0.14em;
}

span{
  font-size:4vw;
  font-family: Pobeda;
  font-style: normal;
  font-weight: bold;
  line-height: 85px;
  
  color: #BD5A4A;
}


li{
  list-style-type:none;
}

h4{
  font-family: 'Pobeda';
  font-size: 16px;
}

.cd-filters{
  float:left;
}

.flex-text{
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

/* footer*/

.footer-dark {
  padding:30px 0;
  color:#f0f9ff;
  background-color:#171a1d;
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/*museum*/

.main-text, .bgg{
  color: white;
  text-align: center;
}

h1, h3{
  font-family: 'Pobeda';
}
h1{
  margin-bottom: -10px;
}

.checkbox-label{
  font-size:1.5vw;

  color:black;
  margin-left: 5px;
  font-size: 18px;
}

.p1{
  font-family: 'Molot';
  color: #272727cb;
  font-size:1.5vw;
}

.accordion-hheader{
  background: #2b2b2b;
}